# requirements.txt for Bahasa-lo

# Sistem file & OS interaction
os-sys

# Regex & parsing
re

# Waktu & progress
time

# Serialize data
pickle

# HTTP requests (jika perlu download plugin atau rootfs)
requests

# untuk lolcat .blo
rich
